<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048823621521-d8k4oon43lrui0egcuu0rtb9ub0om2ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048823621521-d8k4oon43lrui0egcuu0rtb9ub0om2ia</string>
	<key>API_KEY</key>
	<string>AIzaSyCoLZnOmlIHhBb5RyXegBugKK9wOKUN0oU</string>
	<key>GCM_SENDER_ID</key>
	<string>1048823621521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>d.github</string>
	<key>PROJECT_ID</key>
	<string>github-adb16</string>
	<key>STORAGE_BUCKET</key>
	<string>github-adb16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048823621521:ios:c57ffb0a51e1ac4e4fdc30</string>
</dict>
</plist>